<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProLogs - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/site.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvg/1.5/canvg.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
</head>
<body>
    <div class="d-flex container">
        <div class="leftbar">
            <div class="leftbarback">
                <div class="d-flex alignitems-center justify-content-center mrleft-24 mediawraptext">
                    <svg onclick="RedirectTo('Home/Index')" class="cursor-pointer mrright-16 mediadisplaynone logo" width="58" height="44" viewBox="0 0 58 44" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.6063 40.419C12.5737 45.4549 4.0503 45.4348 1.66995 38.7232C1.20391 37.4092 0.831297 36.0581 0.557239 34.6795C-0.561731 29.0503 0.0125652 23.2158 2.20751 17.9134C4.40245 12.611 8.11944 8.07902 12.8885 4.89045C17.6576 1.70189 23.2644 -2.45848e-07 29.0001 0C34.7357 2.45848e-07 40.3426 1.70189 45.1115 4.89045C49.8806 8.07902 53.5976 12.6111 55.7925 17.9135C57.9875 23.2158 58.5617 29.0503 57.4428 34.6795C57.1688 36.0581 56.7961 37.4092 56.33 38.7232C53.9496 45.4348 45.4263 45.4549 40.3936 40.419L32.625 32.6455C31.8828 31.9028 31.9595 30.678 32.1642 29.648C32.2886 29.0218 32.2247 28.3728 31.9805 27.7829C31.7363 27.193 31.3229 26.6887 30.7924 26.3341C30.2619 25.9795 29.6381 25.7901 29.0001 25.7901C28.362 25.7901 27.7383 25.9795 27.2077 26.3341C26.677 26.6887 26.2636 27.193 26.0194 27.7829C25.7752 28.3728 25.7113 29.0218 25.8359 29.648C26.0406 30.678 26.1172 31.9028 25.375 32.6455L17.6063 40.419Z"
                              fill="url(#paint0_linear_11_13467)" />
                        <defs>
                            <linearGradient id="paint0_linear_11_13467" x1="55.3603" y1="14.5091" x2="3.88528"
                                            y2="14.5091" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#64C2DB" />
                                <stop offset="0.510417" stop-color="#7476ED" />
                                <stop offset="1" stop-color="#E56F8C" />
                            </linearGradient>
                        </defs>
                    </svg>
                    <a href="/Home/Index" class="margin-0 colorE56F8C fontweightbold fontsize24 mrright-16 mediatextdisplaynone">ProLogs</a>
                </div>
                <div class="d-flex alignitems-center mrtop-48 mrleft-24 mediadownfontsize">
                    <svg onclick="RedirectTo('Home/Index')" class="cursor-pointer mediadisplaynone" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g id="Iconly/Bulk/Home">
                            <g id="Home">
                                <path id="Home_2"
                                      d="M9.14373 20.7821V17.7152C9.14372 16.9381 9.77567 16.3067 10.5584 16.3018H13.4326C14.2189 16.3018 14.8563 16.9346 14.8563 17.7152V20.7732C14.8562 21.4473 15.404 21.9951 16.0829 22H18.0438C18.9596 22.0023 19.8388 21.6428 20.4872 21.0007C21.1356 20.3586 21.5 19.4868 21.5 18.5775V9.86585C21.5 9.13139 21.1721 8.43471 20.6046 7.9635L13.943 2.67427C12.7785 1.74912 11.1154 1.77901 9.98539 2.74538L3.46701 7.9635C2.87274 8.42082 2.51755 9.11956 2.5 9.86585V18.5686C2.5 20.4637 4.04738 22 5.95617 22H7.87229C8.19917 22.0023 8.51349 21.8751 8.74547 21.6464C8.97746 21.4178 9.10793 21.1067 9.10792 20.7821H9.14373Z"
                                      fill="@(ViewBag.ActivePage == "Index" ? "#3C21F7" : "#878787")" />
                            </g>
                        </g>
                    </svg>
                    <a href="/Home/Index" class="@(ViewBag.ActivePage == "Index" ? "color3C21F7 fontweightbold" : "color878787") mrleft-16 cursor-pointer mediamrleft0 mediatextdisplaynone">Панель</a>
                </div>

                <div class="d-flex alignitems-center mrleft-24 mediadownfontsize">
                    <svg onclick="RedirectTo('Action/Projects')" class="cursor-pointer mediadisplaynone" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g id="Iconly/Bulk/Activity">
                            <g id="Activity">
                                <path id="Path_34168" fill-rule="evenodd" clip-rule="evenodd"
                                      d="M15.2428 4.73756C15.2428 6.95855 17.0459 8.75902 19.2702 8.75902C19.5151 8.75782 19.7594 8.73431 20 8.68878V16.6615C20 20.0156 18.0215 22 14.6624 22H7.34636C3.97851 22 2 20.0156 2 16.6615V9.3561C2 6.00195 3.97851 4 7.34636 4H15.3131C15.2659 4.243 15.2423 4.49001 15.2428 4.73756ZM13.15 14.8966L16.0078 11.2088V11.1912C16.2525 10.8625 16.1901 10.3989 15.8671 10.1463C15.7108 10.0257 15.5122 9.97345 15.3167 10.0016C15.1211 10.0297 14.9453 10.1358 14.8295 10.2956L12.4201 13.3951L9.6766 11.2351C9.51997 11.1131 9.32071 11.0592 9.12381 11.0856C8.92691 11.1121 8.74898 11.2166 8.63019 11.3756L5.67562 15.1863C5.57177 15.3158 5.51586 15.4771 5.51734 15.6429C5.5002 15.9781 5.71187 16.2826 6.03238 16.3838C6.35288 16.485 6.70138 16.3573 6.88031 16.0732L9.35125 12.8771L12.0948 15.0283C12.2508 15.1541 12.4514 15.2111 12.6504 15.1863C12.8494 15.1615 13.0297 15.0569 13.15 14.8966Z"
                                      fill="@(ViewBag.ActivePage == "Projects" ? "#3C21F7" : "#878787")" />
                                <circle id="Ellipse_742" opacity="0.4" cx="19.5" cy="4.5" r="2.5" fill="#878787" />
                            </g>
                        </g>
                    </svg>
                    <a href="/Action/Projects" class="@(ViewBag.ActivePage == "Projects" ? "color3C21F7 fontweightbold" : "color878787") mrleft-16 cursor-pointer mediamrleft0 mediatextdisplaynone">Проекты</a>
                </div>

                <div class="d-flex alignitems-center mrleft-24 mediadownfontsize">
                    <svg onclick="RedirectTo('Home/Notifications')" class="cursor-pointer mediadisplaynone" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g id="Iconly/Bulk/Notification">
                            <g id="Notification">
                                <path id="Fill 1"
                                      d="M19.7695 11.6453C19.039 10.7923 18.7071 10.0531 18.7071 8.79716V8.37013C18.7071 6.73354 18.3304 5.67907 17.5115 4.62459C16.2493 2.98699 14.1244 2 12.0442 2H11.9558C9.91935 2 7.86106 2.94167 6.577 4.5128C5.71333 5.58842 5.29293 6.68822 5.29293 8.37013V8.79716C5.29293 10.0531 4.98284 10.7923 4.23049 11.6453C3.67691 12.2738 3.5 13.0815 3.5 13.9557C3.5 14.8309 3.78723 15.6598 4.36367 16.3336C5.11602 17.1413 6.17846 17.6569 7.26375 17.7466C8.83505 17.9258 10.4063 17.9933 12.0005 17.9933C13.5937 17.9933 15.165 17.8805 16.7372 17.7466C17.8215 17.6569 18.884 17.1413 19.6363 16.3336C20.2118 15.6598 20.5 14.8309 20.5 13.9557C20.5 13.0815 20.3231 12.2738 19.7695 11.6453Z"
                                      fill="@(ViewBag.ActivePage == "Notifications" ? "#3C21F7" : "#878787")" />
                                <path id="Fill 4" opacity="0.4"
                                      d="M14.0087 19.2284C13.5088 19.1216 10.4626 19.1216 9.96269 19.2284C9.53533 19.3271 9.07318 19.5567 9.07318 20.0603C9.09803 20.5407 9.37929 20.9647 9.76888 21.2336L9.76789 21.2346C10.2718 21.6274 10.8631 21.8771 11.4823 21.9668C11.8123 22.0121 12.1482 22.0101 12.4901 21.9668C13.1083 21.8771 13.6996 21.6274 14.2035 21.2346L14.2025 21.2336C14.5921 20.9647 14.8734 20.5407 14.8982 20.0603C14.8982 19.5567 14.4361 19.3271 14.0087 19.2284Z"
                                      fill="@(ViewBag.ActivePage == "Notifications" ? "#3C21F7" : "#878787")" />
                            </g>
                        </g>
                    </svg>
                    <a href="/Home/Notifications" class="@(ViewBag.ActivePage == "Notifications" ? "color3C21F7 fontweightbold" : "color878787") mrleft-16 cursor-pointer mediamrleft0 mediatextdisplaynone">Уведомления</a>
                </div>

                <div class="d-flex alignitems-center mrleft-24 mediadownfontsize">
                    <svg onclick="RedirectTo('Action/Tasks')" class="cursor-pointer mediadisplaynone" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g id="Iconly/Bulk/Chart">
                            <g id="Chart">
                                <path id="Fill 1" opacity="0.4"
                                      d="M16.6756 2H7.33333C3.92889 2 2 3.92889 2 7.33333V16.6667C2 20.0711 3.92889 22 7.33333 22H16.6756C20.08 22 22 20.0711 22 16.6667V7.33333C22 3.92889 20.08 2 16.6756 2Z"
                                      fill="@(ViewBag.ActivePage == "Tasks" ? "#3C21F7" : "#878787")" />
                                <path id="Fill 4"
                                      d="M7.36872 9.36898C6.91539 9.36898 6.54205 9.74231 6.54205 10.2045V17.0756C6.54205 17.529 6.91539 17.9023 7.36872 17.9023C7.83094 17.9023 8.20428 17.529 8.20428 17.0756V10.2045C8.20428 9.74231 7.83094 9.36898 7.36872 9.36898Z"
                                      fill="@(ViewBag.ActivePage == "Tasks" ? "#3C21F7" : "#878787")" />
                                <path id="Fill 6"
                                      d="M12.0354 6.08897C11.5821 6.08897 11.2087 6.46231 11.2087 6.92453V17.0756C11.2087 17.529 11.5821 17.9023 12.0354 17.9023C12.4976 17.9023 12.871 17.529 12.871 17.0756V6.92453C12.871 6.46231 12.4976 6.08897 12.0354 6.08897Z"
                                      fill="@(ViewBag.ActivePage == "Tasks" ? "#3C21F7" : "#878787")" />
                                <path id="Fill 8"
                                      d="M16.6399 12.9956C16.1777 12.9956 15.8044 13.369 15.8044 13.8312V17.0756C15.8044 17.529 16.1777 17.9023 16.631 17.9023C17.0933 17.9023 17.4666 17.529 17.4666 17.0756V13.8312C17.4666 13.369 17.0933 12.9956 16.6399 12.9956Z"
                                      fill="@(ViewBag.ActivePage == "Tasks" ? "#3C21F7" : "#878787")" />
                            </g>
                        </g>
                    </svg>
                    <a href="/Action/Tasks" class="@(ViewBag.ActivePage == "Tasks" ? "color3C21F7 fontweightbold" : "color878787") mrleft-16 cursor-pointer mediamrleft0 mediatextdisplaynone">Задачи</a>
                </div>

                <div class="d-flex alignitems-center mrleft-24 mediadownfontsize">
                    <svg onclick="RedirectTo('Home/Reports')" class="cursor-pointer mediadisplaynone" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g id="Iconly/Bulk/Bookmark">
                            <g id="Bookmark">
                                <path id="Bookmark 2" opacity="0.4"
                                      d="M11.9912 18.6215L5.49945 21.8641C5.00921 22.1302 4.39768 21.9525 4.12348 21.4643C4.0434 21.3108 4.00106 21.1402 4 20.9668V13.7088C4 14.4284 4.40573 14.8726 5.47299 15.3701L11.9912 18.6215Z"
                                      fill="@(ViewBag.ActivePage == "Reports" ? "#3C21F7" : "#878787")" />
                                <path id="Bookmark_2" fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.89526 2H15.0695C17.7773 2 19.9735 3.06605 20 5.79337V20.9668C19.9989 21.1374 19.9565 21.3051 19.8765 21.4554C19.7479 21.7007 19.5259 21.8827 19.2615 21.9598C18.997 22.0368 18.7128 22.0023 18.4741 21.8641L11.9912 18.6215L5.47299 15.3701C4.40573 14.8726 4 14.4284 4 13.7088V5.79337C4 3.06605 6.19625 2 8.89526 2ZM8.22492 9.62227H15.7486C16.1822 9.62227 16.5336 9.26828 16.5336 8.83162C16.5336 8.39495 16.1822 8.04096 15.7486 8.04096H8.22492C7.79137 8.04096 7.43991 8.39495 7.43991 8.83162C7.43991 9.26828 7.79137 9.62227 8.22492 9.62227Z"
                                      fill="@(ViewBag.ActivePage == "Reports" ? "#3C21F7" : "#878787")" />
                            </g>
                        </g>
                    </svg>
                    <a href="/Home/Reports" class="@(ViewBag.ActivePage == "Reports" ? "color3C21F7 fontweightbold" : "color878787") mrleft-16 cursor-pointer mediamrleft0 mediatextdisplaynone">Отчеты</a>
                </div>

                <div class="d-flex alignitems-center mrleft-24 mediadownfontsize">
                    <svg onclick="RedirectTo('General/Account')" class="cursor-pointer mediadisplaynone" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g id="Iconly/Bulk/Profile">
                            <g id="Profile">
                                <path id="Fill 1"
                                      d="M11.9968 15.1746C7.68382 15.1746 3.99982 15.8546 3.99982 18.5746C3.99982 21.2956 7.66082 21.9996 11.9968 21.9996C16.3098 21.9996 19.9938 21.3206 19.9938 18.5996C19.9938 15.8786 16.3338 15.1746 11.9968 15.1746Z"
                                      fill="@(ViewBag.ActivePage == "Account" ? "#3C21F7" : "#878787")" />
                                <path id="Fill 4" opacity="0.4"
                                      d="M11.9968 12.5837C14.9348 12.5837 17.2888 10.2287 17.2888 7.2917C17.2888 4.3547 14.9348 1.9997 11.9968 1.9997C9.05983 1.9997 6.70483 4.3547 6.70483 7.2917C6.70483 10.2287 9.05983 12.5837 11.9968 12.5837Z"
                                      fill="@(ViewBag.ActivePage == "Account" ? "#3C21F7" : "#878787")" />
                            </g>
                        </g>
                    </svg>
                    <a href="/General/Account" class="@(ViewBag.ActivePage == "Account" ? "color3C21F7 fontweightbold" : "color878787") mrleft-16 cursor-pointer mediamrleft0 mediatextdisplaynone">Профиль</a>
                </div>

                <div class="d-flex alignitems-center mrleft-24 mediadownfontsize">
                    <svg onclick="RedirectTo('General/Settings')" class="cursor-pointer mediadisplaynone" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g id="Iconly/Bulk/Setting">
                            <g id="Setting">
                                <path id="Path"
                                      d="M12.012 14.8301C10.4075 14.8301 9.10962 13.5801 9.10962 12.0101C9.10962 10.4401 10.4075 9.1801 12.012 9.1801C13.6165 9.1801 14.8837 10.4401 14.8837 12.0101C14.8837 13.5801 13.6165 14.8301 12.012 14.8301Z"
                                      fill="@(ViewBag.ActivePage == "Settings" ? "#3C21F7" : "#878787")" />
                                <path id="Path_2" opacity="0.4"
                                      d="M21.23 14.3701C21.0358 14.0701 20.7599 13.7701 20.4022 13.5801C20.1161 13.4401 19.9321 13.2101 19.7686 12.9401C19.2474 12.0801 19.554 10.9501 20.4227 10.4401C21.4446 9.8701 21.7716 8.6001 21.1789 7.6101L20.4942 6.4301C19.9117 5.4401 18.6342 5.0901 17.6225 5.6701C16.7232 6.1501 15.5684 5.8301 15.0472 4.9801C14.8837 4.7001 14.7917 4.4001 14.8121 4.1001C14.8428 3.7101 14.7201 3.3401 14.5362 3.0401C14.1581 2.4201 13.4734 2.0001 12.7171 2.0001H11.2761C10.5301 2.0201 9.8454 2.4201 9.46728 3.0401C9.27311 3.3401 9.16069 3.7101 9.18113 4.1001C9.20157 4.4001 9.10959 4.7001 8.94608 4.9801C8.42488 5.8301 7.27007 6.1501 6.38097 5.6701C5.35901 5.0901 4.09178 5.4401 3.49905 6.4301L2.81434 7.6101C2.23182 8.6001 2.55885 9.8701 3.57059 10.4401C4.43925 10.9501 4.74584 12.0801 4.23486 12.9401C4.06112 13.2101 3.87717 13.4401 3.59102 13.5801C3.24356 13.7701 2.93697 14.0701 2.77346 14.3701C2.39533 14.9901 2.41577 15.7701 2.7939 16.4201L3.49905 17.6201C3.87717 18.2601 4.58232 18.6601 5.31813 18.6601C5.6656 18.6601 6.07438 18.5601 6.40141 18.3601C6.6569 18.1901 6.96348 18.1301 7.30073 18.1301C8.31247 18.1301 9.16069 18.9601 9.18113 19.9501C9.18113 21.1001 10.1213 22.0001 11.3068 22.0001H12.6967C13.8719 22.0001 14.8121 21.1001 14.8121 19.9501C14.8428 18.9601 15.691 18.1301 16.7027 18.1301C17.0298 18.1301 17.3364 18.1901 17.6021 18.3601C17.9291 18.5601 18.3277 18.6601 18.6853 18.6601C19.4109 18.6601 20.1161 18.2601 20.4942 17.6201L21.2096 16.4201C21.5775 15.7501 21.6081 14.9901 21.23 14.3701Z"
                                      fill="@(ViewBag.ActivePage == "Settings" ? "#3C21F7" : "#878787")" />
                            </g>
                        </g>
                    </svg>
                    <a href="/General/Settings" class="@(ViewBag.ActivePage == "Settings" ? "color3C21F7 fontweightbold" : "color878787") mrleft-16 cursor-pointer mediamrleft0 mediatextdisplaynone">Настройки</a>
                </div>
                <div class="d-flex alignitems-center mrleft-24 mediadownfontsize">
                    <svg onclick="Logout()" class="cursor-pointer mediadisplaynone" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g id="Iconly/Bulk/Login">
                            <g id="Login">
                                <path id="Fill 1" opacity="0.4"
                                      d="M7.2962 6.446C7.2962 3.995 9.356 2 11.8876 2H16.9199C19.4454 2 21.5 3.99 21.5 6.436V17.552C21.5 20.004 19.4413 22 16.9096 22H11.8773C9.35187 22 7.2962 20.009 7.2962 17.562V16.622V6.446Z"
                                      fill="#878787" />
                                <path id="Fill 4"
                                      d="M16.0374 11.4538L13.0695 8.54479C12.7627 8.24479 12.2691 8.24479 11.9634 8.54679C11.6587 8.84879 11.6597 9.33579 11.9654 9.63579L13.5905 11.2288H3.2821C2.85042 11.2288 2.5 11.5738 2.5 11.9998C2.5 12.4248 2.85042 12.7688 3.2821 12.7688H13.5905L11.9654 14.3628C11.6597 14.6628 11.6587 15.1498 11.9634 15.4518C12.1168 15.6028 12.3168 15.6788 12.518 15.6788C12.717 15.6788 12.9171 15.6028 13.0695 15.4538L16.0374 12.5448C16.1847 12.3998 16.268 12.2038 16.268 11.9998C16.268 11.7948 16.1847 11.5988 16.0374 11.4538Z"
                                      fill="#878787" />
                            </g>
                        </g>
                    </svg>
                    <a onclick="Logout()" class="color878787 mrleft-16 cursor-pointer mediamrleft0 mediatextdisplaynone">Выйти</a>
                </div>
            </div>
        </div>
        <div class="rightbar">
            @await Html.PartialAsync("~/Views/Shared/_Header.cshtml")
            @RenderBody()
        </div>
    </div>
</body>
</html>
